@use 'sass:color';
@use 'user_options/user_options' as options;
@use 'utils';
@use 'theme';

:root{
	--box-opacity : #{options.$box-default-opacity};
	--tint-opacity : #{options.$tint-opacity};
	--btn-default-color : #{options.$btn-default-color};
	--btn-default-border-color : #{options.$btn-default-border-color};
}


//## BTN classes

@mixin btn(){
	display: inline-block;
	color: var(--text-color);
	border-radius: 0.5em;
	width: auto;
	height: auto;
	min-width: 2em;
	min-height: 1em;
	padding: 1px 6px;
	background-color: var(--background-color);
	border: var(--border, solid 2px var(--border-color, var(--btn-default-border-color)));
	transition: all 0.15s ease-in;
}


[class*="btn-"],.btn{
	@include btn();
}

.btn-round{
	border-radius: 1em;
}

.btn-transparent{
	--box-opacity: #{options.$tint-opacity};
}

.btn:hover,.btn-transparent:hover,.btn-round:hover{
	background-color: rgba($color:var(--background-on-hover), $alpha: var(--box-opacity));
}

.btn:active,.btn-transparent:active,.btn-round:hover{
	background-color: rgba($color:var(--background-on-active), $alpha: var(--box-opacity));
}


@each $name, $color, $text-color in options.$themes{

	.btn-#{$name}{
		--background-color : var(--rgba-#{$name}-color); 
		--text-color: var(--#{$name}-text-color);
		--background-on-hover : var(--#{$name}-hover);
		--background-on-active : var(--#{$name}-active);
		border: var(--border, solid 2px var(--#{$name}-border-color));
	}

	.#{$name}-tint{
		--background-color: var(--rgba-#{$name}-color);
		--tint-color: var(--rgb-#{$name}-color);
	}
	.hover-#{$name}-tint:hover{
		--background-color: var(--#{$name}-hover);
		--box-opacity: #{options.$tint-opacity};
	}
	.active-#{$name}-tint:active{
		--background-color: var(--#{$name}-hover);
		--box-opacity: #{options.$tint-opacity};
	}
}


.btn-hover-transparent:hover{
	--box-opacity : #{options.$tint-opacity};
}
.btn-active-transparent:active{
	--box-opacity : #{options.$tint-opacity};
}

