@use 'user_options/user_options' as options;


.container{
	display: grid;
	grid-template-columns: repeat(options.$col_max_amount,minmax(0, 1fr));
	grid-template-rows: repeat(options.$col_max_amount,minmax(0, 1fr));
}

[class*="col-"],.col{
	grid-column: span var(--col-span,1);
	border: red solid 1px;
}

[class*="row-"],.row{
	grid-row: span var(--row-span,1);
}


@mixin col-gen($breakpoint : "" ){

	@for $i from 1 through 12{
		@if $breakpoint == "" {
			.col-#{$i}{
				--col-span : #{$i};
			}
		}@else{
			.col-#{$breakpoint}-#{$i}{
				--col-span : #{$i};
			}
		}
	}
}

@mixin row-gen($breakpoint : "" ){

	@for $i from 1 through 12{
		@if $breakpoint == "" {
			.row-#{$i}{
				--row-span : #{$i};
			}
		}@else{
			.row-#{$breakpoint}-#{$i}{
				--row-span : #{$i};
			}
		}
	}
}


@include col-gen();

@include row-gen();


@mixin hidden{
	display: none;
}
.hidden{
	@include hidden();
}

@each $name, $size, $max_size in options.$sizes{
	@media screen and (width >= $size) {

		@include col-gen($name);

		@include row-gen($name);

		.hidden-from-#{$name} {
			@include hidden();
		}
	}
	@media screen and (width >= $size) and (width <= $max_size) {
		.hidden-only-#{$name} {
			@include hidden();
		}
	}
}

//TODO add visible from
