@use 'sass:color';


@use 'reset.css';

@use 'user_options/user_options' as options;
@use 'grid';
@use 'buttons';
@use 'shadows';
@use 'margin';
@use 'padding';
@use 'theme';
@use 'border';
@use 'input';
@use 'utils';
//##Debug value


$debug: false;

//#Include somewhere to see if sass reaches there

@mixin debug{ 
	@if $debug == true {
		.debug{
			background-color: red;
		}
	}
}
//


@include debug();


[class*='transparent-']{
	--blur:0px;
	background-color: rgba($color: #000000, $alpha: 0.0);
	backdrop-filter: blur(var(--blur));
}

.transparent-clear{
	--blur:0px;
}
.transparent-blur-light{
	--blur:4px;
}
.transparent-blur-heavy{
	--blur:8px;
}


.round{
	border-radius: 1em;
}



*:disabled{
	opacity: 0.6;
	filter: grayscale(80%) !important;
}