@use 'user_options/user_options' as options;



:root{
	@each $name, $margin in options.$spacing{
		--margin-#{$name} : #{$margin};
	}
}

@each $name, $margin in options.$spacing{

	.gap-x-#{$name}{
		column-gap: var(--margin-#{$name});
	}
	.gap-y-#{$name}{
		row-gap: var(--margin-#{$name});
	}

	.margin-top-#{$name}{
		margin-top:var(--margin-#{$name});
	}
	.margin-right-#{$name}{
		margin-right:var(--margin-#{$name});
	}
	.margin-bottom-#{$name}{
		margin-bottom:var(--margin-#{$name});
	}
	.margin-left-#{$name}{
		margin-left:var(--margin-#{$name});
	}
	.margin-#{$name}{
		margin:var(--margin-#{$name});
	}

	.margin-inline-start-#{$name}{
		margin-inline-start:var(--margin-#{$name});
	}
	.margin-inline-end-#{$name}{
		margin-inline-end:var(--margin-#{$name});
	}
	.margin-block-#{$name}{
		margin-block:var(--margin-#{$name});
	}
	.margin-block-start-#{$name}{
		margin-block-start:var(--margin-#{$name});
	}
	.margin-block-end-#{$name}{
		margin-block-end:var(--margin-#{$name});
	}

}