@use 'user_options/user_options' as options;


//## box-shadows generator
:root{
	--shadow-color : #{options.$shadow-color};
	--shadow-blur : #{options.$shadow-blur};
	--shadow-offset : #{options.$shadow-offset};
	--shadow-offset-x : var(--shadow-offset);
	--shadow-offset-y : var(--shadow-offset);
	--text-shadow-blur : #{options.$text-shadow-blur};
}

@mixin shadow(){
	box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}
@mixin text-shadow(){
	text-shadow: var(--shadow-color) var(--shadow-offset-x) var(--shadow-offset-y) var(--text-shadow-blur)
}
@mixin inset-shadow(){
	box-shadow: inset var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur) -var(--shadow-spread) var(--shadow-color);
}

@each $name, $space in options.$shadow-sizes{

	.shadow-#{$name}{
		--shadow-spread: #{$space};
		@include shadow();

	}

	.text-shadow-#{$name}{
		--shadow-spread: #{$space};
		@include text-shadow();
	}

	.inset-shadow-#{$name}{
		--shadow-spread: #{$space};
		@include inset-shadow();
	}
}

