@use 'sass:color';
@use 'user_options/user_options' as options;
@use 'utils';

:root{

	--btn-opacity : #{options.$btn-default-opacity};
	--btn-default-color : #{options.$btn-default-color};
	--default-border-width : #{options.$default-border-width};
	--default-border-radius : #{options.$default-border-radius} ;

	@each $name, $color, $text-color in options.$themes{

		@if $text-color == null{
			$text-color : utils.text-color-maker($color);
			--#{$name}-text-color : #{$text-color};
		}@else{
			--#{$name}-text-color : #{$text-color};
		}

		--#{$name}-color : 
			#{color.channel($color,"red", $space: rgb)},
			#{color.channel($color,"green", $space: rgb)},
			#{color.channel($color,"blue", $space: rgb)}
		;

		$hover-color:white;
		@if color.channel($text-color, "lightness",$space : hsl) <= 50% {
			$hover-color : color.scale($color, $lightness: -15%, $space: hsl);
		}@else{
			$hover-color : color.scale($color, $lightness: +15%, $space: hsl);
		}

		--#{$name}-hover : 
			#{color.channel($hover-color,"red", $space: rgb)},
			#{color.channel($hover-color,"green", $space: rgb)},
			#{color.channel($hover-color,"blue", $space: rgb)}
		;
		
		$active-color:white;
		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			$active-color : color.scale($color, $lightness: -25%, $space: hsl);
		}@else{
			$active-color : color.scale($color, $lightness: +25%, $space: hsl);
		}

		--#{$name}-active : 
			#{color.channel($active-color,"red", $space: rgb)},
			#{color.channel($active-color,"green", $space: rgb)},
			#{color.channel($active-color,"blue", $space: rgb)}
		;
		--#{$name}-border-color : #{color.scale($color, $lightness: -50%, $space: hsl)};
	}
}

@each $name, $color, $text-color in options.$themes{

	.theme-#{$name}{
		--background-color : var(--#{$name}-color);
		--text-color : var(--#{$name}-text-color);
		--border-color : var(--#{$name}-border-color);
		--border-style : solid;
		--border-width : var(--default-border-width);
		--border-radius : var(--default-border-radius);
		
		background-color: rgb(var(--background-color));
		color: var(--text-color);
	}
}
