@use 'sass:color';
@use 'user_options/user_options' as options;
@use 'utils';

:root{

	--box-opacity : #{options.$box-default-opacity};
	--btn-default-color : #{options.$btn-default-color};
	--default-border-width : #{options.$default-border-width};
	--default-border-radius : #{options.$default-border-radius} ;

	@each $name, $color, $text-color in options.$themes{

		@if $text-color == null{
			$text-color : utils.text-color-maker($color);
			--#{$name}-text-color : #{$text-color};
		}@else{
			--#{$name}-text-color : #{$text-color};
		}

		--r-#{$name}-color : #{color.channel($color,"red", $space: rgb)};
		--g-#{$name}-color : #{color.channel($color,"green", $space: rgb)};
		--b-#{$name}-color : #{color.channel($color,"blue", $space: rgb)};
		--a-#{$name}-color : var(--box-opacity);

		--#{$name}-color : rgb(
			var(--r-#{$name}-color),
			var(--g-#{$name}-color),
			var(--b-#{$name}-color)
		);

		--rgb-#{$name}-color : 
			var(--r-#{$name}-color),
			var(--g-#{$name}-color),
			var(--b-#{$name}-color)
		;
		--rgba-#{$name}-color : rgba(var(--rgb-#{$name}-color), var(--box-opacity));

		$hover-color:white;
		@if color.channel($text-color, "lightness",$space : hsl) <= 50% {
			$hover-color : color.scale($color, $lightness: -15%, $space: hsl);
		}@else{
			$hover-color : color.scale($color, $lightness: +15%, $space: hsl);
		}

		--#{$name}-hover : 
			#{color.channel($hover-color,"red", $space: rgb)},
			#{color.channel($hover-color,"green", $space: rgb)},
			#{color.channel($hover-color,"blue", $space: rgb)}
		;
		
		$active-color:white;
		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			$active-color : color.scale($color, $lightness: -25%, $space: hsl);
		}@else{
			$active-color : color.scale($color, $lightness: +25%, $space: hsl);
		}

		--#{$name}-active : 
			#{color.channel($active-color,"red", $space: rgb)},
			#{color.channel($active-color,"green", $space: rgb)},
			#{color.channel($active-color,"blue", $space: rgb)}
		;

		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			--#{$name}-border-color : #{color.scale($color, $lightness: -40%, $space: hsl)};
		}@else{
			--#{$name}-border-color : #{color.scale($color, $lightness: +40%, $space: hsl)};
		}

		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			--#{$name}-outline-color : #{color.scale($color, $lightness: -25%, $space: hsl)};
		}@else{
			--#{$name}-outline-color : #{color.scale($color, $lightness: +25%, $space: hsl)};
		}
	}
}

@each $name, $color, $text-color in options.$themes{

	.theme-#{$name}{
		--background-color : var(--#{$name}-color);
		--text-color : var(--#{$name}-text-color);
		--border-color : var(--#{$name}-border-color);
		--border-style : solid;
		--border-width : var(--default-border-width);
		--border-radius : var(--default-border-radius);
		--outline-color : var(--#{$name}-outline-color);
		--background-on-hover : var(--#{$name}-hover);
		--background-on-active : var(--#{$name}-active);
		
		background-color: var(--background-color);
		color: var(--text-color);
	}
}
