@use 'sass:color';
@use 'sass:math';
@use 'user_options/user_options' as options;
@use 'utils';

:root{

	--box-opacity : #{options.$box-default-opacity};
	--btn-default-color : #{options.$btn-default-color};
	--default-border-width : #{options.$default-border-width};
	--default-border-radius : #{options.$default-border-radius} ;

	@each $name, $color, $text-color in options.$themes{

		@if $text-color == null{
			$text-color : utils.text-color-maker($color);
			--#{$name}-text-color : #{$text-color};
		}@else{
			--#{$name}-text-color : #{$text-color};
		}

		--r-#{$name}-color : #{math.ceil(color.channel($color,"red", $space: rgb))};
		--g-#{$name}-color : #{math.ceil(color.channel($color,"green", $space: rgb))};
		--b-#{$name}-color : #{math.ceil(color.channel($color,"blue", $space: rgb))};
		--a-#{$name}-color : var(--box-opacity);

		--#{$name}-color : rgb(
			var(--r-#{$name}-color),
			var(--g-#{$name}-color),
			var(--b-#{$name}-color)
		);

		--rgb-#{$name}-color : 
			var(--r-#{$name}-color),
			var(--g-#{$name}-color),
			var(--b-#{$name}-color)
		;
		--rgba-#{$name}-color : rgba(var(--rgb-#{$name}-color), var(--box-opacity));

		$hover-color:white;
		@if color.channel($text-color, "lightness",$space : hsl) <= 50% {
			$hover-color : color.scale($color, $lightness: -15%, $space: hsl);
		}@else{
			$hover-color : color.scale($color, $lightness: +15%, $space: hsl);
		}

		--#{$name}-hover : 
			#{math.ceil(color.channel($hover-color,"red", $space: rgb))},
			#{math.ceil(color.channel($hover-color,"green", $space: rgb))},
			#{math.ceil(color.channel($hover-color,"blue", $space: rgb))}
		;
		
		$active-color:white;
		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			$active-color : color.scale($color, $lightness: -25%, $space: hsl);
		}@else{
			$active-color : color.scale($color, $lightness: +25%, $space: hsl);
		}

		--#{$name}-active : 
			#{math.ceil(color.channel($active-color,"red", $space: rgb))},
			#{math.ceil(color.channel($active-color,"green", $space: rgb))},
			#{math.ceil(color.channel($active-color,"blue", $space: rgb))}
		;

		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			$border-color: color.scale($color, $lightness: -40%, $space: hsl);
			$r-border-color: math.ceil(color.channel($border-color, "red", $space:rgb));
			$g-border-color: math.ceil(color.channel($border-color, "green", $space:rgb));
			$b-border-color: math.ceil(color.channel($border-color, "blue", $space:rgb));
				
			@debug --#{$name}-border-color;
			//Continue decomposing colors to round their values.
		}@else{
			$border-color: color.scale($color, $lightness: 40%, $space: hsl);
			$r-border-color: math.ceil(color.channel($border-color, "red", $space:rgb));
			$g-border-color: math.ceil(color.channel($border-color, "green", $space:rgb));
			$b-border-color: math.ceil(color.channel($border-color, "blue", $space:rgb));
			--#{$name}-border-color : rgb(#{$r-border-color $g-border-color $b-border-color });
		}

		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			$outline-color : color.scale($color, $lightness: -25%, $space: hsl);
			$r-outline-color: math.ceil(color.channel($outline-color, "red", $space:rgb));
			$g-outline-color: math.ceil(color.channel($outline-color, "green", $space:rgb));
			$b-outline-color: math.ceil(color.channel($outline-color, "blue", $space:rgb));
			--#{$name}-outline-color : rgb(#{$r-outline-color $g-outline-color $b-outline-color})
		}@else{
			$outline-color : color.scale($color, $lightness: 25%, $space: hsl);
			$r-outline-color: math.ceil(color.channel($outline-color, "red", $space:rgb));
			$g-outline-color: math.ceil(color.channel($outline-color, "green", $space:rgb));
			$b-outline-color: math.ceil(color.channel($outline-color, "blue", $space:rgb));
			--#{$name}-outline-color : rgb(#{$r-outline-color $g-outline-color $b-outline-color})
		}
	}
}

[class*="theme-"]{
	background-color: var(--background-color);
	color: var(--text-color);
}

@each $name, $color, $text-color in options.$themes{

	.theme-#{$name}{
		--background-color : var(--#{$name}-color);
		--text-color : var(--#{$name}-text-color);
		--border-color : var(--#{$name}-border-color);
		--border-style : solid;
		--border-width : var(--default-border-width);
		--border-radius : var(--default-border-radius);
		--outline-color : var(--#{$name}-outline-color);
		--background-on-hover : var(--#{$name}-hover);
		--background-on-active : var(--#{$name}-active);
	}
}
