@use 'sass:color';

@function text-color-maker($base-color){
	//$base-color : color.to-space($base-color, hsl);
	@if color.channel($base-color,'lightness', $space: hsl) >= 50% {
		@return #000000;
	}@else{
		@return #ffffff;
	}
}


[class*='transparent-']{
	--blur:0px;
	background-color: rgba($color: #000000, $alpha: 0.0);
	backdrop-filter: blur(var(--blur));
}

.transparent-clear{
	--blur:0px;
}
.transparent-blur-light{
	--blur:4px;
}
.transparent-blur-heavy{
	--blur:8px;
}


.round{
	border-radius: 1em !important;
}



*:disabled{
	opacity: 0.6;
	filter: grayscale(80%) !important;
}