:root {
  --padding-none: 0;
}

.padding-top-none {
  padding-top: var(--padding-none);
}

.padding-right-none {
  padding-right: var(--padding-none);
}

.padding-bottom-none {
  padding-bottom: var(--padding-none);
}

.padding-left-none {
  padding-left: var(--padding-none);
}

.padding-a-none {
  padding: var(--padding-none);
}

.padding-inline-none {
  padding-inline: var(--padding-none);
}

.padding-inline-start-none {
  padding-inline-start: var(--padding-none);
}

.padding-inline-end-none {
  padding-inline-end: var(--padding-none);
}

.padding-block-none {
  padding-block: var(--padding-none);
}

.padding-block-start-none {
  padding-block-start: var(--padding-none);
}

.padding-block-end-none {
  padding-block-end: var(--padding-none);
}

:root {
  --padding-0: 0;
}

.padding-top-0 {
  padding-top: var(--padding-0);
}

.padding-right-0 {
  padding-right: var(--padding-0);
}

.padding-bottom-0 {
  padding-bottom: var(--padding-0);
}

.padding-left-0 {
  padding-left: var(--padding-0);
}

.padding-a-0 {
  padding: var(--padding-0);
}

.padding-inline-0 {
  padding-inline: var(--padding-0);
}

.padding-inline-start-0 {
  padding-inline-start: var(--padding-0);
}

.padding-inline-end-0 {
  padding-inline-end: var(--padding-0);
}

.padding-block-0 {
  padding-block: var(--padding-0);
}

.padding-block-start-0 {
  padding-block-start: var(--padding-0);
}

.padding-block-end-0 {
  padding-block-end: var(--padding-0);
}

:root {
  --padding-xxs: 0.12em;
}

.padding-top-xxs {
  padding-top: var(--padding-xxs);
}

.padding-right-xxs {
  padding-right: var(--padding-xxs);
}

.padding-bottom-xxs {
  padding-bottom: var(--padding-xxs);
}

.padding-left-xxs {
  padding-left: var(--padding-xxs);
}

.padding-a-xxs {
  padding: var(--padding-xxs);
}

.padding-inline-xxs {
  padding-inline: var(--padding-xxs);
}

.padding-inline-start-xxs {
  padding-inline-start: var(--padding-xxs);
}

.padding-inline-end-xxs {
  padding-inline-end: var(--padding-xxs);
}

.padding-block-xxs {
  padding-block: var(--padding-xxs);
}

.padding-block-start-xxs {
  padding-block-start: var(--padding-xxs);
}

.padding-block-end-xxs {
  padding-block-end: var(--padding-xxs);
}

:root {
  --padding-xs: 0.25em;
}

.padding-top-xs {
  padding-top: var(--padding-xs);
}

.padding-right-xs {
  padding-right: var(--padding-xs);
}

.padding-bottom-xs {
  padding-bottom: var(--padding-xs);
}

.padding-left-xs {
  padding-left: var(--padding-xs);
}

.padding-a-xs {
  padding: var(--padding-xs);
}

.padding-inline-xs {
  padding-inline: var(--padding-xs);
}

.padding-inline-start-xs {
  padding-inline-start: var(--padding-xs);
}

.padding-inline-end-xs {
  padding-inline-end: var(--padding-xs);
}

.padding-block-xs {
  padding-block: var(--padding-xs);
}

.padding-block-start-xs {
  padding-block-start: var(--padding-xs);
}

.padding-block-end-xs {
  padding-block-end: var(--padding-xs);
}

:root {
  --padding-s: 0.5em;
}

.padding-top-s {
  padding-top: var(--padding-s);
}

.padding-right-s {
  padding-right: var(--padding-s);
}

.padding-bottom-s {
  padding-bottom: var(--padding-s);
}

.padding-left-s {
  padding-left: var(--padding-s);
}

.padding-a-s {
  padding: var(--padding-s);
}

.padding-inline-s {
  padding-inline: var(--padding-s);
}

.padding-inline-start-s {
  padding-inline-start: var(--padding-s);
}

.padding-inline-end-s {
  padding-inline-end: var(--padding-s);
}

.padding-block-s {
  padding-block: var(--padding-s);
}

.padding-block-start-s {
  padding-block-start: var(--padding-s);
}

.padding-block-end-s {
  padding-block-end: var(--padding-s);
}

:root {
  --padding-m: 1em;
}

.padding-top-m {
  padding-top: var(--padding-m);
}

.padding-right-m {
  padding-right: var(--padding-m);
}

.padding-bottom-m {
  padding-bottom: var(--padding-m);
}

.padding-left-m {
  padding-left: var(--padding-m);
}

.padding-a-m {
  padding: var(--padding-m);
}

.padding-inline-m {
  padding-inline: var(--padding-m);
}

.padding-inline-start-m {
  padding-inline-start: var(--padding-m);
}

.padding-inline-end-m {
  padding-inline-end: var(--padding-m);
}

.padding-block-m {
  padding-block: var(--padding-m);
}

.padding-block-start-m {
  padding-block-start: var(--padding-m);
}

.padding-block-end-m {
  padding-block-end: var(--padding-m);
}

:root {
  --padding-l: 2em;
}

.padding-top-l {
  padding-top: var(--padding-l);
}

.padding-right-l {
  padding-right: var(--padding-l);
}

.padding-bottom-l {
  padding-bottom: var(--padding-l);
}

.padding-left-l {
  padding-left: var(--padding-l);
}

.padding-a-l {
  padding: var(--padding-l);
}

.padding-inline-l {
  padding-inline: var(--padding-l);
}

.padding-inline-start-l {
  padding-inline-start: var(--padding-l);
}

.padding-inline-end-l {
  padding-inline-end: var(--padding-l);
}

.padding-block-l {
  padding-block: var(--padding-l);
}

.padding-block-start-l {
  padding-block-start: var(--padding-l);
}

.padding-block-end-l {
  padding-block-end: var(--padding-l);
}

:root {
  --padding-xl: 4em;
}

.padding-top-xl {
  padding-top: var(--padding-xl);
}

.padding-right-xl {
  padding-right: var(--padding-xl);
}

.padding-bottom-xl {
  padding-bottom: var(--padding-xl);
}

.padding-left-xl {
  padding-left: var(--padding-xl);
}

.padding-a-xl {
  padding: var(--padding-xl);
}

.padding-inline-xl {
  padding-inline: var(--padding-xl);
}

.padding-inline-start-xl {
  padding-inline-start: var(--padding-xl);
}

.padding-inline-end-xl {
  padding-inline-end: var(--padding-xl);
}

.padding-block-xl {
  padding-block: var(--padding-xl);
}

.padding-block-start-xl {
  padding-block-start: var(--padding-xl);
}

.padding-block-end-xl {
  padding-block-end: var(--padding-xl);
}

/*# sourceMappingURL=padding.css.map */
