@use 'sass:color';
@use 'sass:map';
@use 'sass:string';
@use 'user_options/user_options' as options;
@use 'utils';


:root{

	--btn-opacity : #{options.$btn-default-opacity};
	--btn-default-color : #{options.$btn-default-color};
	@each $name, $color, $text-color in options.$themes{

		@if $text-color == null{
			$text-color : utils.text-color-maker($color);
			--#{$name}-text-color : #{$text-color};
		}@else{
			--#{$name}-text-color : #{$text-color};
		}

		--#{$name}-color : 
			#{color.channel($color,"red", $space: rgb)},
			#{color.channel($color,"green", $space: rgb)},
			#{color.channel($color,"blue", $space: rgb)}
		;

		$hover-color:white;
		@if color.channel($text-color, "lightness",$space : hsl) <= 50% {
			$hover-color : color.scale($color, $lightness: -15%, $space: hsl);
		}@else{
			$hover-color : color.scale($color, $lightness: +15%, $space: hsl);
		}

		--#{$name}-hover : 
			#{color.channel($hover-color,"red", $space: rgb)},
			#{color.channel($hover-color,"green", $space: rgb)},
			#{color.channel($hover-color,"blue", $space: rgb)}
		;
		
		$active-color:white;
		@if color.channel($color,"lightness", $space: hsl) >= 50% {
			$active-color : color.scale($color, $lightness: -25%, $space: hsl);
		}@else{
			$active-color : color.scale($color, $lightness: +25%, $space: hsl);
		}

		--#{$name}-active : 
			#{color.channel($active-color,"red", $space: rgb)},
			#{color.channel($active-color,"green", $space: rgb)},
			#{color.channel($active-color,"blue", $space: rgb)}
		;
		--#{$name}-border-color : #{color.scale($color, $lightness: -50%, $space: hsl)};
	}
}


//## BTN classes

.btn{
	border-radius: 1em;
	width: auto;
	height: auto;
	min-width: 2em;
	min-height: 1em;
	padding: 1px 6px;
	background-color: rgb($color: var(--btn-default-color), $alpha: var(--btn-opacity) );

	transition: all 0.15s ease-in;
}
.btn:hover{
	transform: translateY(-2px);
	background-color: var(--background-on-hover);
}

.btn:active{
	transform: translateY(2px);
	background-color: var(--background-on-active);
}



@each $name, $color, $text-color in options.$themes{

	.btn-#{$name}{
		background-color: rgb(var(--#{$name}-color));
		color: var(--#{$name}-text-color);
		--background-on-hover : rgba(var(--#{$name}-hover) , var(--btn-opacity));
		--background-on-active : rgba(var(--#{$name}-active),var(--btn-opacity));
		border: var(--border, solid 2px var(--#{$name}-border-color));
	}

	.#{$name}-tint{
		--tint-color: var(--#{$name}-color);
		--tint-opacity: #{options.$tint-opacity};
	}

	.background-#{$name}{
		background-color: rgb(var(--#{$name}-color));
	}

}

.btn-hover-transparent{
	--background-on-hover: rgba(
		var(--tint-color, #ffffff),
		var(--tint-opacity,0.0));
}
.btn-active-transparent{
	--background-on-active: rgba(
		var(--tint-color, #ffffff),
		var(--tint-opacity,0.0))
	;
}