
:root{
    
    /*Colors*/
    --main-color : #787784;
    --secondary-color : #27478b;
    --secondary-color-accent : #545ab4;
    --anti-secondary-color : #df73e9;

    /*Spacing*/
    --space-xs:0.25em;
    --space-s:0.5em;
    --space-m:1em;
    --space-l:2em;
    --space-xl:4em;


}