/*Extra small screen*/

.--container {
    display: flex;
	flex-wrap: wrap;
    height: 1200px;
    flex-direction: column;
    background-color: #88b3d9;
    width: 100vw;
}


[class^=--row]{
	flex: 1;
	flex-wrap: wrap;
}

[class^=--col]{
	background-color: rgb(209, 195, 178);
	border: solid 1px;
	flex:0 0 auto;
}

.--col-1{
	width: 8.3333%;
}

.--col-offset-1{
    margin-inline-start: 8.3333%;
}

.--row-1 {
    display: flex;
	height: 8.3333%;
    background: bisque;
	flex: 0 0 auto;
}


@media screen and (width >= 576px){ /*Small screen*/
	.--col-s-offset-1{
    	margin-inline-start: 8.3333%;
	}
	.--col-s-offset-0{
    	margin-inline-start: 0;
	}
	.--col-s-12{
		width: 100%;
		background-color: blueviolet;
	}
}
@media screen and (width >= 768px){ /*Medium screen*/
	.--col-m-6{
		width: 50%;
		background-color: green;
	}
}
