	
	/*For the .container* rules*/
	/* Contains the flex element */
	
	.--container{
		margin: auto 0;


		/*TODO retirer TEMP c'est au site de gérer la taille des éléments*/
		width: 50em;
		height: 100rem;
	}


	

	/*For the .row* rules*/
	/* The flex element. Represents the row where elements are positioned*/
	[class*="--row"]{
		display: flex;
		background-color: aqua;
	}

	.--row{
		flex: 1;
	}
	.--row-1{
		height: 8.3333%;
	}

	.--row-center{
		justify-content: center;
		align-content: center;
	}

	.--row-justify-left{
		justify-content: left;
	}

	.--row-justify-right{
		justify-content: right;
	}



	/*Fallback for col in case an incorrect number is supplied it defines flex as 1*/
	[class*="--col"]{
		flex: 1;
		background-color: brown;
		padding: var(--space-xs);
	}



	/*For the .col* rules*/
	/* Represents the width of the col element each row is divided in 12 */
	/* col-1's width is 1/12 of the row, col-6's width is 6/12 of the row*/

	.--col-1{
		flex: 0 0 auto;
		width: 8.33333%;
	}
	.--col-2{
		flex: 0 0 auto;
		width: 16.666666%;
	}


	/*For the .offset* rules*/
	/* Offsets the current col by a percentage of the parent's width(if the parent is .col) or height(if the parent is .row)  */
	/*What this means is that .offset-1 will offset the element by one row or one col*/
	/*
		<div>
		<div>
	*/
	/*offset-1 offsets by 1/12 of the row, offset-6 by 6/12 */

	.--offset-1[class*="--col"]{
		margin-inline-start: 8.33333%;
	}

	.--offset-1[class*="--row"]{
		margin-block-start: 8.33333%;
	}

	/*
	.offset-1{
		margin-left: 8.33333%;
	}

	.offset-2{
		margin-left: 16.66666%;
	}
	*/