@use 'sass:color';
@use 'grid';
@use 'options';

//##Debug value



$debug: false;

//#Include somewhere to see if sass reaches there

@mixin debug{ 
	@if $debug == true {
		.debug{
			background-color: red;
		}
	}
}

:root{
	@each $name, $color in options.$themes{
		--#{$name}-color : 
			#{color.channel($color,"red")},
			#{color.channel($color,"green")},
			#{color.channel($color,"blue")};

		$hover-color : color.scale($color, $blackness: 20%);

		--#{$name}-hover : 
			#{color.channel($hover-color,"red")},
			#{color.channel($hover-color,"green")},
			#{color.channel($hover-color,"blue")};

		
	}
}


//## Styling

body{
	background-color: aqua;
	section{
		background-color: bisque;
	}
}


@include debug();


//## box-shadows generator

$shadow-size : "xs" 0.5em, "s" 1em, "m" 1.5em, "l" 2em, "xl" 2.5em;
$shadow-blur : 5px;
$shadow-spread : 1px;
$shadow-color: rgba(0, 0, 0, 0.8);

@each $name, $space in $shadow-size{

	.box-shadow-#{$name}{
		box-shadow: $space $space $shadow-blur $shadow-spread $shadow-color;
	}

	.inset-box-shadow-#{$name}{
		box-shadow: inset $space $space $shadow-blur $shadow-spread $shadow-color;
	}
}

//## TODO Faire une classe pour l'ombre du texte


//##Hidden definition

@mixin hidden{
	display: none;
}


.hidden{
	@include hidden();
}

@each $name, $size, $max_size in options.$sizes{
	@media screen and (width >= $size) {

		.hidden-from-#{$name}{
			@include hidden();
		}
	}

	@media screen and (width >= $size) and (width <= $max_size) {
		.hidden-only-#{$name}{
			@include hidden();
		}
	}
}


//## BTN classes

.btn{
	border-radius: 1em;
	width: auto;
	height: auto;
	min-width: 2em;
	min-height: 1em;
	background-color: rgb($color: #ffffff, $alpha: 1 );

	transition: all 0.15s ease-in;
}
.btn:hover{
	transform: translateY(-2px);
	background-color: var(--background-on-hover);
}

.btn:active{
	transform: translateY(2px);
}

.btn-hover-transparent{
	--background-on-hover: rgba(
		var(--tint-color, #ffffff),
		 var(--tint-opacity,0.0));
}



@each $name, $color, $text-color in options.$themes{

	.btn-#{$name}{
		--#{$name} :  var(--#{$name}-color);
		background-color: rgb(var(--#{$name}));
		color: #{$text-color};
		--background-on-hover : rgba(var(--#{$name}-hover) , 1.0);
	}

	.#{$name}-tint{
		--tint-color: var(--#{$name}-color);
		--tint-opacity: #{options.$btn-default-opacity};
	}

}



.transparent-clear{
	background-color: rgba($color: #000000, $alpha: 0.0);
}
.transparent-blur-light{
	background-color: rgba($color: #000000, $alpha: 0.0);
	backdrop-filter: blur(4px);
}
.transparent-blur-heavy{
	background-color: rgba($color: #000000, $alpha: 0.0);
	backdrop-filter: blur(8px);
}