
//##Debug value

$debug: false;

//#Include somewhere to see if sass reaches there

@mixin debug{ 
	@if $debug == true {
		.debug{
			background-color: red;
		}
	}
}



//## Styling

body{
	background-color: aqua;
	section{
		background-color: bisque;
	}
}


.--container {
	display: flex;
	flex-wrap: wrap;
	height: 1200px;
	flex-direction: column;
	background-color: #88b3d9;
	width: 100vw;
}


//## Grid styling allows bootstrap like positionning

@mixin row{
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

@mixin col{
	background-color: rgb(209, 195, 178);
	border: solid 1px;
	flex:0 0 auto;
}

.--row{
	@include row();
}

.--col{
	@include col();
}

@mixin col-offset($percentage){
	margin-inline-start: $percentage;
}

@mixin row-size ($percentage){
	@include row();
	height: $percentage;
	background: bisque;
	flex: 0 0 auto;
}

@mixin col-size($percentage){
	@include col();
	width: $percentage;
}

//## Grid style generator uses @mixins to load classes inside @media

//# Media size declaration. Must be formatted as key: value.
$sizes: ("xs" : 0px, "s": 576px, "m": 768px, "l" : 992px, "xl" : 1200px, "xxl" : 1400px); 

//# Max divisions of columns and rows.
$col_max_amount: 12;


//# Responsible of creating the classes
@each $name , $size in $sizes{
	//# Here we create the classes for the smallest size. 
	//# Since the smallest size is also the fallback, the classes names shouldn't reference the size.
	@if $size == 0px{

		.--col-offset-0{
			@include col-offset(0);
		}

		@for $i from 1 through $col_max_amount{

			$percentage: calc( (100% / $col_max_amount) * $i); 

			.--col-#{$i}{
				@include col-size($percentage);
			}

			.--col-offset-#{$i}{
				@include col-offset($percentage)
			}

			.--row-#{$i}{
				@include row-size($percentage);
			}
		}
	} @else{
		@media screen and (width >= $size) {
			.--col-#{$name}-offset-0{
					@include col-offset(0);
			}

			@for $i from 1 through $col_max_amount{

				$percentage: calc( (100% / $col_max_amount) * $i);
				
				.--col-#{$name}-#{$i}{
					@include col-size($percentage);
				}

				.--col-#{$name}-offset-#{$i}{
					@include col-offset($percentage);
				}

				.--row-#{$name}-#{$i}{
					@include row-size($percentage);
				}
			}
		}
	}
}