@use 'user_options/user_options' as options;



@each $name, $margin in options.$spacing{
	:root{
		--margin-#{$name} : $margin;
	}

	.margin-top-#{$name}{
		margin-top: --margin-#{$name};
	}
	.margin-right-#{$name}{
		margin-right: --margin-#{$name};
	}
	.margin-bottom-#{$name}{
		margin-bottom: --margin-#{$name};
	}
	.margin-left-#{$name}{
		margin-left: --margin-#{$name};
	}
	.margin-#{$name}{
		margin: --margin-#{$name};
	}

	.margin-inline-start-#{$name}{
		margin-inline-start: --margin-#{$name};
	}
	.margin-inline-end-#{$name}{
		margin-inline-end: --margin-#{$name};
	}
	.margin-block-#{$name}{
		margin-block: --margin-#{$name};
	}
	.margin-block-start-#{$name}{
		margin-block-start: --margin-#{$name};
	}
	.margin-block-end-#{$name}{
		margin-block-end: --margin-#{$name};
	}
}