
//# Media size declaration. Must be formatted as key: value.
$sizes:
	"xs" 0px 576px,
	"s" 576px 768px,
	"m" 768px 992px,
	"l" 992px 1200px,
	"xl" 1200px 1400px,
	"xxl" 1400px -1; 

//# Max divisions of columns and rows.
$col_max_amount: 12;



$spacing :"none" 0,"0" 0 ,"xxs" 0.12em , "xs" 0.25em, "s" 0.5em, "m" 1em, "l" 2em, "xl" 4em;


$themes :(
	"primary" #0f5da2,
	"secondary" #616161,
	"info" #64aceb,
	"success" #2b8500,
	"danger" #b4000a,
	"warning" #f19113,
	"dark" #191e24,
	"light" #ffffff
);

$tint-opacity: 0.3;
$btn-default-opacity : 1;
$btn-default-color : #ffffff;

$shadow-sizes : "xs" 0.5em, "s" 1em, "m" 1.5em, "l" 2em, "xl" 2.5em;
$shadow-blur : 5px;
$shadow-spread : 1px;
$shadow-color: rgba(0, 0, 0, 0.8);