@use 'user_options/user_options' as options;


@each $name, $padding in options.$spacing {

	:root{
		--padding-#{$name} : #{$padding};
	}

	.padding-top-#{$name}{
		padding-top: var(--padding-#{$name});
	}
	.padding-right-#{$name}{
		padding-right: var(--padding-#{$name});
	}
	.padding-bottom-#{$name}{
		padding-bottom: var(--padding-#{$name});
	}
	.padding-left-#{$name}{
		padding-left: var(--padding-#{$name});
	}
	.padding-#{$name},.padding-a-#{$name},.padding-all-#{$name}{
		padding: var(--padding-#{$name});
	}

	.padding-inline-start-#{$name},.padding-x-start-#{$name}{
		padding-inline-start: var(--padding-#{$name});
	}
	.padding-inline-end-#{$name},.padding-x-end-#{$name}{
		padding-inline-end: var(--padding-#{$name});
	}
	.padding-block-#{$name},.padding-y-#{$name}{
		padding-block: var(--padding-#{$name});
	}
	.padding-block-start-#{$name},.padding-y-start-#{$name}{
		padding-block-start: var(--padding-#{$name});
	}
	.padding-block-end-#{$name},.padding-y-end-#{$name}{
		padding-block-end: var(--padding-#{$name});
	}
}