
*{
	margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 0);
	font: inherit;
    transition: all 0.2s ease-in;
	border: 0;
    font-size: 100%;
	max-width: 100%;
    height: auto;
	overflow: hidden;

	list-style: none;
	box-sizing: border-box;
}


head{
  display: none;  
}
