@use 'user_options/user_options' as options;


//## box-shadows generator

$shadow-color : options.$shadow-color;
$shadow-blur : options.$shadow-blur;
$shadow-offset : options.$shadow-offset;

@mixin shadow($shadow-spread){
	box-shadow: $shadow-offset $shadow-offset $shadow-blur $shadow-spread $shadow-color;
}
@mixin inset-shadow($shadow-spread){
	box-shadow: inset $shadow-offset $shadow-offset $shadow-blur $shadow-spread $shadow-color;
}

@each $name, $space in options.$shadow-sizes{

	.shadow-#{$name}{
		@include shadow($space);
	}

	.shadow-#{$name}-on-hover:hover{
		@include shadow($space);
	}

	.shadow-#{$name}-on-active:active{
		@include shadow($space);
	}

	.inset-shadow-#{$name}{
		@include inset-shadow($space);
	}

	.inset-shadow-#{$name}-on-hover:hover{
		@include inset-shadow($space);
	}
	.inset-shadow-#{$name}-on-active:active{
		@include inset-shadow($space);
	}
}

//## TODO Faire une classe pour l'ombre du texte

