@use 'sass:color';

@use 'user_options/user_options' as options;
@use 'grid';
@use 'buttons';

//##Debug value

@debug options.$themes;

$debug: false;

//#Include somewhere to see if sass reaches there

@mixin debug{ 
	@if $debug == true {
		.debug{
			background-color: red;
		}
	}
}
//




//## Styling

body{
	background-color: aqua;
	section{
		background-color: bisque;
	}
}


@include debug();


//## box-shadows generator

$shadow-size : "xs" 0.5em, "s" 1em, "m" 1.5em, "l" 2em, "xl" 2.5em;
$shadow-blur : 5px;
$shadow-spread : 1px;
$shadow-color: rgba(0, 0, 0, 0.8);

@each $name, $space in $shadow-size{

	.box-shadow-#{$name}{
		box-shadow: $space $space $shadow-blur $shadow-spread $shadow-color;
	}

	.inset-box-shadow-#{$name}{
		box-shadow: inset $space $space $shadow-blur $shadow-spread $shadow-color;
	}
}

//## TODO Faire une classe pour l'ombre du texte


//##Hidden definition

@mixin hidden{
	display: none;
}


.hidden{
	@include hidden();
}

@each $name, $size, $max_size in options.$sizes{
	@media screen and (width >= $size) {

		.hidden-from-#{$name}{
			@include hidden();
		}
	}

	@media screen and (width >= $size) and (width <= $max_size) {
		.hidden-only-#{$name}{
			@include hidden();
		}
	}
}




.transparent-clear{
	background-color: rgba($color: #000000, $alpha: 0.0);
}
.transparent-blur-light{
	background-color: rgba($color: #000000, $alpha: 0.0);
	backdrop-filter: blur(4px);
}
.transparent-blur-heavy{
	background-color: rgba($color: #000000, $alpha: 0.0);
	backdrop-filter: blur(8px);
}